﻿<header>
    <div class="collapse bg-blue" id="navbarHeader">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 col-md-7 py-4">
                    <h4 class="text-white">About</h4>
                    <p style="color:black">
                        Discover ​our ​catalog ​of ​hundreds ​of ​games. There's something for all tastes. For all ages.
                        Games for those who want to play alone and for those who want to spend time with others. Games for those who like to rack their brains and games for those who prefer to leave their brains in the locker room.
                        Well-known games and games that deserve to be discovered. Games ​for ​those ​who ​don't ​have ​time ​and ​games ​for ​those ​who ​want ​to ​take time. New games chosen carefully every week.
                        Our ​advantage: ​you ​can ​start ​a ​game​ on ​the ​bus on ​your ​smartphone​ and ​continue ​playing ​at ​home ​on ​your ​PC ​or ​smart ​TV.
                        Not to mention peace and quiet for parents. You can let children play safely games specially selected for them without access to the rest of our catalog .
                    </p>
                </div>
                <div class="col-sm-4 offset-md-1 py-4">
                    <h4 class="text-white">Contact</h4>
                    <ul class="list-unstyled">
                        <li><a href="https://twitter.com/" target="_blank" class="text-white">Follow on Twitter</a></li>
                        <li><a href="https://facebook.com/" target="_blank" class="text-white">Like on Facebook</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="navbar navbar-dark bg-blue box-shadow">
        <div class="container d-flex justify-content-between">
            <a href="/home" class="navbar-brand d-flex align-items-center">
                <strong>Game World</strong>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
    </div>
</header>