﻿<div ng-controller="HomeController as vm">
    <main role="main">
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">Video Game Catalog</h1>
                <p class="lead text-muted"> The richest video game catalogs for the whole family.</p>
            </div>
        </section>
        <div class="py-5 bg-light">
            <div class="container">
                <div class="row">
                    <h1>{{vg.Category}}</h1>
                    <div class="col-md-4" ng-repeat="vg in vm.videoGames">
                        <div class="card mb-4 box-shadow h-100">
                            <img class="card-img-top" ng-src="{{'/Content/images/' + vg.ImageURL}}">
                            <div class="card-body">
                                <h4 class="card-title">{{vg.Title}}</h4>
                                <p class="card-text">{{vg.Description}}</p>
                            </div>
                            <div class="card-footer d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary" ng-click="vm.editItem(vg.Id)">Edit</button>
                                </div>
                                <small class="text-muted">Category - {{vg.Category}}</small>
                                <small class="text-muted">Rating - {{vg.Rating}} / 5</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>