﻿@{
    Layout = null;
}
@using System.Web.Optimization
<!DOCTYPE html>
<html lang="en" ng-app="videoGameCatalog">
<head>
    <base href="/" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="~/Content/favicon.ico">
    <title>Game World</title>
    @Styles.Render("~/Content/css")
</head>
<body ng-controller="RootController as root">
    <div data-ng-include="'Scripts/spa/header/header.html'" data-ng-controller="HeaderController"></div>

    <div ui-view></div>

    <div data-ng-include="'Scripts/spa/footer/footer.html'" data-ng-controller="FooterController"></div>

    @Scripts.Render("~/bundles/vendors")
    @Scripts.Render("~/bundles/spa")
</body>
</html>
