﻿<div ng-controller="EditController as vm">

    <div class="container py-3">
        <div class="row">
            <div class="mx-auto col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <h4 class="mb-0">Edit Video Game Information</h4>
                    </div>
                    <div class="card-body">
                        <form name="videoGameEditForm" class="form" novalidate role="form" autocomplete="off" ng-submit="vm.saveData(videoGameEditForm.$valid)">
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Title</label>
                                <div class="col-lg-9">
                                    <input name="Title" ng-model="vm.videoGame.Title" class="form-control" type="text" required>
                                    <p ng-show="videoGameEditForm.Title.$invalid && !videoGameEditForm.Title.$pristine" class="help-block">Title is required.</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Description</label>
                                <div class="col-lg-9">
                                    <textarea rows="5" name="Description" ng-model="vm.videoGame.Description" class="form-control" ng-minlength="10"></textarea>
                                    <p ng-show="videoGameEditForm.Description.$error.minlength" class="help-block">Description is too short.</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Creator</label>
                                <div class="col-lg-9">
                                    <input name="Creator" ng-model="vm.videoGame.Creator" required class="form-control">
                                    <p ng-show="videoGameEditForm.Creator.$invalid && !videoGameEditForm.Creator.$pristine" class="help-block">Creator name is required.</p>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label">Rating</label>
                                <div class="col-lg-9">
                                    <select class="form-control" ng-model="vm.videoGame.Rating" ng-options="obj.id as obj.label for obj in vm.ratings"></select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-lg-3 col-form-label form-control-label"></label>
                                <div class="col-lg-9">
                                    <input type="reset" class="btn btn-secondary" value="Cancel" ng-click="vm.cancel()">
                                    <input type="submit" button-busy="saving" busy-text="Saving" class="btn btn-primary" ng-disabled="videoGameEditForm.$invalid" value="Save Changes">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
