﻿@using System.Web.Optimization


<!DOCTYPE html>

<html lang="en" data-ng-app="videoGameCatalog">
@*<html ng-app="videoGameCatalog">*@
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8" />
    <title>Video Game Catalog</title>
    @Styles.Render("~/Content/css")
</head>
<body ng-controller="rootController">
    Video Games!!!!

    <ui-view autoscroll='false' class="fade-in-up">1</ui-view>

    @Scripts.Render("~/bundles/vendors")
    @Scripts.Render("~/bundles/app")
</body>
</html>
